@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #dfdfdf;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div,
p,
span {
  font-family: 'Roboto', sans-serif;
}


svg {
  color: #F4F7F5 !important;
  fill: #F4F7F5 !important;
}

a:focus{
  outline: none;
}